@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* General Rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 100%;
  min-height: 100%;
  background-color: #f5f5f5;
}

/* End of General Rules */

/* Header */

.toolbar {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  width: 100%;
  height: 80px;
  align-items: center;
  background-color: #fff;
}

/* nav */

.nav-btn {
  font-weight: lighter;
  color: #6070ff;
  border: none;
  background-color: transparent;
  width: 18px;
  height: 12px;
}

/* Headline-Section */

main {
  margin-top: -30px;
}

.headline {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 690px;
  background: url(./image/images-main/mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  object-fit: cover;
  background-color: #fff;
  border-bottom-left-radius: 60px;
}

.headline-title {
  margin-top: 8px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 6px;
  height: 150px;
  width: 327px;
  padding-top: 120px;
}

.headline-info {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  font-weight: 400;
  margin-top: 140px;
}

.media-info {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #7f8cff;
  font-weight: 500;
  margin-top: 20px;
}

.headline .social-icons {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.headline .social-icons li {
  margin-right: 20px;
}

/* End of Headline-Section */
