@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* General Rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  background-color: #e5e5e5;
}

/* End of General Rules */

/* Header */

.toolbar {
  display: flex;
  justify-content: space-between;
  padding-right: 35px;
  padding-left: 24px;
  width: 100%;
  height: 92px;
  align-items: center;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  width: 76px;
  height: 20px;
}

/* nav */

.nav-btn {
  font-weight: lighter;
  color: #6070ff;
  border: none;
  background-color: transparent;
}

/* End of Header */

/* Headline-Section */

.headline {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  min-height: 690px;
  background: url("./image/images-main/mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  object-fit: cover;
  background-color: #fff;
  border-bottom-left-radius: 80px;
}

.headline-title {
  margin-top: 114px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  height: 150px;
  width: 327px;
}

.headline-info {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  font-weight: 400;
  margin-top: 12px;
  height: 140px;
}

.media-info {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #7f8cff;
  font-weight: 500;
  margin-top: 12px;
  height: 24px;
}

.headline .social-icons {
  display: flex;
  margin-top: 12px;
  align-items: center;
}

.headline .social-icons li {
  margin-right: 20px;
}

/* End of Headline-Section */

/* Card section */

.card-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 70px;
  margin-top: 2rem;
  padding-top: 50px;
  width: 100%;
}

.card {
  border: 1px solid rgb(194, 191, 191);
  border-radius: 1rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  padding-top: 15px;
}

.card .title {
  align-self: flex-start;
  margin-left: 20px;
  padding-top: 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-transform: capitalize;
}

.card-section .info {
  margin-top: 10px;
  display: flex;
  width: 90%;
  align-items: center;
}

.card-section .info li {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-right: 10px;
  color: #7a869a;
}

.section-info {
  font-size: 15px;
  margin-top: 1rem;
  width: 90%;
  color: #344563;
  font-weight: 400;
  line-height: 24px;
}

.program-btns {
  width: 100%;
  display: flex;
  padding-left: 20px;
  margin-top: 10px;
}

.program-btns li {
  margin-right: 10px;
}

.btn-html {
  width: 59px;
  height: 24px;
  background-color: #ebebff;
  border: none;
  border-radius: 5px;
  color: #6070ff;
  display: flex;
  align-content: center;
  justify-content: center;
}

.btn-css {
  width: 45px;
  height: 24px;
  background-color: #ebebff;
  border: none;
  border-radius: 5px;
  color: #6070ff;
  display: flex;
  align-content: center;
  justify-content: center;
}

.btn-js {
  width: 89px;
  height: 24px;
  background-color: #ebebff;
  border: none;
  border-radius: 5px;
  color: #6070ff;
  display: flex;
  align-content: center;
  justify-content: center;
}

.btn4 {
  padding: 8px;
  margin-top: 20px;
  border-radius: 0.4rem;
  margin-bottom: 25px;
  align-self: flex-start;
  margin-left: 23px;
  background-color: white;
  color: blue;
  border: 1px solid #396df2;
}

/* End of Card section */

/* About section */

.about-section {
  display: flex;
  margin-top: 114px;
  flex-direction: column;
  padding-left: 28px;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-top-right-radius: 60px;
}

.about-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  height: 101px;
  width: 327px;
  margin-top: 114px;
}

.about-info {
  width: 327px;
  height: 144px;
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  font-weight: 400;
}

.about-head {
  display: flex;
  flex-direction: column;
}

.about-head .media-info {
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
  vertical-align: top;
  height: 24px;
}

.about-section .social-icons {
  display: flex;
  margin-top: 25px;
  align-items: center;
}

.about-head .social-icons li {
  margin-right: 20px;
}

.about-head .btn4 {
  align-self: flex-start;
}

.skills {
  margin-left: 24px;
}

.skill-title {
  display: flex;
  justify-content: space-between;
  width: 327px;
  padding-right: 26px;
}

.skill-title .span {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}

.skill-title .span:last-child {
  padding-right: 70px;
}

.language-list {
  margin-top: 30px;
  margin-bottom: 30px;
}

.language-js {
  display: flex;
  align-items: center;
  width: 303px;
  height: 66px;
  border-radius: 8px;
  background-color: #f7f7f9;
  margin-bottom: 10px;
  padding-left: 12px;
}

.language-js a {
  text-decoration: none;
  margin-left: 10px;
  color: #253858;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  vertical-align: top;
  width: 215px;
  height: 24px;
}

.separator {
  height: 1px;
  color: #dfe1e6;
  width: 327px;
}

.skill-skills .skill-title {
  padding-top: 23px;
  padding-bottom: 10px;
}
